@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Creazione header fisso*/
header{
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 10;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content a {
    text-decoration: none;
    font-size: 14px;
    color: inherit;
}

.header-content li{
    list-style-type: none;
    display: inline-block;
    padding: 20px 15px;
    color: #212121;
}

.logo{
    width: 80%;
    position: relative;
    left: 15px;
    top: 3px;
}

.button{
    padding: 5px 15px;
    color: white;
    background-color: #0061ff;
    text-decoration: none;
}

.header-dx li:last-child{
    color: white;
}
/* Fine header */

.container-jumbo{
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 84px;
}

.container-content{
    max-width: 800px;
    margin: 0 auto;
}

main{
    padding-top: 45px;
}

#jumbo-section{
    background-color: #b4d0e7;
    height: 75vh;
    font-size: 14px;
}

.container-jumbo .inner-section{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.inner-section .col-sx{
    width: 32%;
}

.inner-section .col-dx{
    width: 67%;
}

.jumbo-img{
    width: 100%;
}

h1{
    font-size: 60px;
    font-weight: 800;
}

.col-sx p{
    margin-bottom: 30px;
    font-size: 14px;
}

#text{
    padding-top: 30px;
    font-size: 14px;
}

.anchor-arrow{
    font-size: 35px;
    position: relative;
    top: 16px;
}

/* sezione plans */
#plans-section{
    height: auto;
    padding-top: 140px;
}

h2{
    font-size: 32px;
    margin-bottom: 40px;
}

.radio{
    padding: 7px;
    border: #d3d3d6 solid 1px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: 3.5px;
}

.monthly,.annually{
    display: inline-block;
    font-size: 12px;
}

.monthly{
    margin-right: 30px;
}

.monthly .on {
    border: #0061ff solid 5px;
    padding: 3.5px;
}

.flex-container{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    gap: 30px;
}

.cards{
    font-size: 13px;
    border: #d3d3d6 solid 1px;
    margin-top: 30px;
    width: 100%;
}

.type-plan{
    text-align: center;
    padding: 10px;
    border-bottom: #d3d3d6 solid 1px;
    width: 100%;
}

.cards .content-cards{
    padding: 20px;
}

h3{
    font-size: 20px;
}

.price{
    margin: 10px 0;
    font-weight: 700;
}

.payment{
    margin-bottom: 40px;
    color: #818282;
}

.content-cards ul{
    list-style-type: none;
}

.content-cards ul li{
    margin-bottom: 10px;
}

.content-cards .button{
    text-align: center;
    margin: 30px 0 20px;
}

hr{
    width: 20%;
    color: #818282;
    margin: 40px 0 40px;
}

.highlights{
    margin-bottom: 20px;
}

.team-card{
    padding: 20px;
}

.team-card .col-dx{
    width: 33%;
    text-align: center;
}

.team-card .col-sx .price{
    margin-bottom: 40px;
}
/* fine plans section */


/* partner section */
.partner-img{
    width: 100%;
}

#partner-section{
    margin: 100px 0 100px;
    font-size: 13px;
}

#partner-section .col-sx{
    flex-basis: 65%;
}

#partner-section .col-dx{
    flex-basis: 35%;
    position: relative;
    top: 38px;
}

#partner-section .col-dx p{
    margin: 20px 0 30px;
}

.trova-partner{
    padding: 10px;
    border: 1px solid black;
}
/* fine sezione partner */

/* dropbox business sezione con flex */
.flex-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

.box-image{
    width: calc(33% - 18px);
}

.img-box{
    width: 100%;
}

.box-image p{
    font-size: 13px;
    margin: 20px 0;
}
/* fine sezione dropbox business */

#cta{
    padding: 120px 0;
}

#cta a{
    font-size: 13px;
}

/* sezione con i box dei loghi team */
.flex-box{
    display: flex;
    align-items: center;
}

.sx, .dx, .center{
    width: 33%;
}

.flex-box .sx, .dx{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-box .sx .box-logo{
    width: 50%;
    height: calc(100vw / 6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-box .dx .box-logo{
    width: 50%;
    height: calc(100vw / 6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.center {
    width: 33%;
    height: calc(100vw / 3);
    align-self: flex-start;
    background-color: #f5f5f5;
    padding: 50px;
    font-size: 13px;
    flex-grow: 1;
    overflow: auto;
}

.center img{
    max-width: 60%;
}

.signature{
    margin-top: 40px;
}

.flex-box .sx .box-logo img{
    width: 50%;
    filter: invert(1);
    align-self: center;
}

.flex-box .dx .box-logo img{
    width: 50%;
    filter: invert(1);
}

.one{
    background-color: #a2d39b;
}

.two{
    background-color: #61082b;
}

.three{
    background-color: #0093ce;
}

.four{
    background-color: #ff1c1c;
}

.five{
    background-color: #d5001f;
}

.six{
    background-color: #b4d0e7;
}

.seven{
    background-color: #0d2481;
}

.eight{
    background-color: #ffd830;
}
/* Fine sezione team logo box */

/* section cta-2 */
#cta-2{
    background-color: #b4d0e7;
    padding: 80px 0;
}

#cta-2 .col-sx h2{
    margin-bottom: 0;
}

#cta-2 .flex-container {
    justify-content: space-between;
}

#button-cta{
    position: relative;
    top: 10px;
}
/* fine cta-2 */

/* sezione FAQ */
#faq{
    padding: 80px 0;
}

#faq .container-content ul{
    list-style: none;
}

#faq .container-content .accordion .fa-angle-down{
    position: relative;
    left: 25%;
}

#faq .container-content ul li{
    padding: 30px 0;
    border-bottom: 1px #818282 solid;
}

#faq .container-content ul li:first-child{
    border-top: 1px #818282 solid;
}

.question{
    font-weight: 700;
    font-size: 13px;
}

#faq .container-content ul li p{
    display: none;
    font-size: 13px;
    margin-top: 20px;
}

#faq .container-content ul li:hover .answer{
    display: block;
}
/* fine sezione FAQ */



