@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* Creazione header fisso*/
header{
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 10;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-content a {
    text-decoration: none;
    font-size: 14px;
    color: inherit;
}

.header-content li{
    list-style-type: none;
    display: inline-block;
    padding: 20px 15px;
    color: #212121;
}

.logo{
    width: 80%;
    position: relative;
    left: 15px;
    top: 3px;
}

.button{
    padding: 5px 15px;
    color: white;
    background-color: #0061ff;
    text-decoration: none;
}

.header-dx li:last-child{
    color: white;
}
/* Fine header */

.container-jumbo{
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    top: 84px;
}

.container-content{
    max-width: 700px;
    margin: 0 auto;
}

main{
    padding-top: 45px;
}

#jumbo-section{
    background-color: #b4d0e7;
    height: 75vh;
    font-size: 14px;
}

.container-jumbo .inner-section{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.inner-section .col-sx{
    width: 32%;
}

.inner-section .col-dx{
    width: 67%;
}

.jumbo-img{
    width: 100%;
}

h1{
    font-size: 60px;
    font-weight: 800;
}

.col-sx p{
    margin-bottom: 30px;
    font-size: 14px;
}

#text{
    padding-top: 30px;
    font-size: 14px;
}

.anchor-arrow{
    font-size: 35px;
    position: relative;
    top: 16px;
}

#plans-section{
    height: 75vh;
    padding-top: 140px;
}

h2{
    font-size: 28px;
    margin-bottom: 40px;
}

.radio{
    padding: 7px;
    border: #d3d3d6 solid 1px;
    display: inline-block;
    border-radius: 50%;
    position: relative;
    top: 2px;
}

.monthly,.annually{
    display: inline-block;
}

.monthly{
    margin-right: 30px;
}

.monthly .on {
    border: #0061ff solid 5px;
    padding: 3.5px;
}
